backports-abc==0.5
certifi==2017.4.17
chardet==3.0.4
click==6.7
Faker==0.7.17
Flask==0.12.2
Flask-SQLAlchemy==2.2
gevent==1.2.2
greenlet==0.4.12
grequests==0.3.0
idna==2.5
ipaddress==1.0.18
itsdangerous==0.24
Jinja2==2.9.6
lxml==4.2.1
MarkupSafe==1.0
MySQL-python==1.2.5
PyJWT==2.4.0
python-dateutil==2.6.0
python-docx==0.8.5
PyYAML==3.12
requests==2.18.1
singledispatch==3.4.0.3
six==1.10.0
SQLAlchemy==1.1.11
tornado==4.5.1
urllib3==1.21.1
Werkzeug==0.14.1
